<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VendorController</servlet-name>
        <servlet-class>com.controller.VendorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>com.controller.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>process</servlet-name>
        <servlet-class>com.java.process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserData</servlet-name>
        <servlet-class>com.dropdown.UserData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VendorController</servlet-name>
        <url-pattern>/VendorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/CustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>process</servlet-name>
        <url-pattern>/process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserData</servlet-name>
        <url-pattern>/UserData</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
